@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --background: 0 0% 100%;
  --foreground: 210 25% 7.8431%;
  --card: 180 6.6667% 97.0588%;
  --card-foreground: 210 25% 7.8431%;
  --popover: 0 0% 100%;
  --popover-foreground: 210 25% 7.8431%;
  --primary: 148 48% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 118 27% 75%;
  --secondary-foreground: 148 48% 27%;
  --muted: 240 1.9608% 90%;
  --muted-foreground: 210 25% 7.8431%;
  --accent: 122 39% 49%;
  --accent-foreground: 0 0% 100%;
  --destructive: 356.3033 90.5579% 54.3137%;
  --destructive-foreground: 0 0% 100%;
  --border: 201.4286 30.4348% 90.9804%;
  --input: 200 23.0769% 97.4510%;
  --ring: 148 48% 27%;
  --light-green: 118 40% 95%;
  --eco-green: 122 35% 65%;
  --chart-1: 122 39% 49%;
  --chart-2: 159.7826 100% 36.0784%;
  --chart-3: 42.0290 92.8251% 56.2745%;
  --chart-4: 147.1429 78.5047% 41.9608%;
  --chart-5: 341.4894 75.2000% 50.9804%;
  --font-sans: 'Inter', sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
}

.receiptify-current {
  font-family: 'Inter', sans-serif;
  color: hsl(var(--foreground));
  background: hsl(var(--light-green));
}